<%- include('../partials/header') %>

<h1>Search for Books</h1>
  <form action="/books">
    <label for="intitle">Title:</label>
    <input type="text" name="intitle" value="<%= qTitle %>">
    <label for="inauthor">Author:</label>
    <input type="text" name="inauthor" value="<%= qAuthor %>">
    <button type="submit" value="Search">Search</button>
  </form>


<% if(results) { %>

<div id="card-container">

<% results.forEach(book => { %>

  <div class="bookcard">
      <form action="/books" method="post">
      <% if (book.volumeInfo.imageLinks) { %>
      <div class="bookcard-img">
        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>">
        <input type="text" hidden name="thumbnail" value="<%= book.volumeInfo.imageLinks.thumbnail %>">
      <% } %>
      </div>

      <div class="bookcard-info">
      <% if (book.volumeInfo.title) { %>
      <p><span>Title: </span> <%= book.volumeInfo.title %> </p>
      <input type="text" hidden name="title" value="<%= book.volumeInfo.title %>">
      <% } %>

      <% if (book.volumeInfo.authors) { %>
      <p><span>Author: </span><%= book.volumeInfo.authors.join(', ') %> </p>
      <input type="text" hidden name="author" value="<%= book.volumeInfo.authors.join(', ') %>">
      <% } %>

      <% if (book.volumeInfo.publishedDate) { %>
        <p><span>Published: </span><%= book.volumeInfo.publishedDate %> </p>
        <input type="text" hidden name="published" value="<%= book.volumeInfo.publishedDate.toLocaleString() %>">
      <% } %>

      <% if (book.volumeInfo.description) { %>
        <% let desc = book.volumeInfo.description.split(' ').slice(0,20).join(' ') + '...'; %>
        <p><span>Description:</span> <%= desc %> </p>
        <input type="text" hidden name="description" value="<%= desc %>">
      <% } %>

      <input type="text" name="googleId" hidden value="<%= book.id %>">
      <input type="text" name="qTitle" hidden value="<%= qTitle %>">
      <input type="text" name="qAuthor" hidden value="<%= qAuthor %>">
      
      <div class="readinglistSelect">
        <select name="booklistSelect">
          <% booklists.forEach( booklist => { %>
            <option value="<%= booklist._id %>"><%= booklist.name %></option>
          <% }) %>
        </select>
        <input type="submit" value="Add Book">
      </div>
    </div>
      </form>
    </div>
<% }) %>

  </div>
<% } %>

<%- include('../partials/footer') %>
