<%- include('../partials/header') %>

<h1>Search for Books</h1>
  <form action="/books" class="search" method=PUT>
    <label for="intitle">Title:
    <input type="text" name="intitle" value="<%= qTitle %>"></label>
    <label for="inauthor">Author:
    <input type="text" name="inauthor" value="<%= qAuthor %>"></label>
    <button type="submit" value="Search"><i class="fas fa-search"></i> Search</button>
  </form>


<% if(results) { %>

  <div class="results-pagination">
    <% const resultsCount = 10 %>
    <% if (nextOffset > resultsCount) { %>
      <% const prevOffset = nextOffset - (resultsCount * 2) %>
    <a href="/books?intitle=<%= qTitle.replace(' ','+') %>&inauthor=<%= qAuthor.replace(' ','+') %>&offset=<%= prevOffset %>">Previous Results</a>
    <% } %>
    <% if (nextOffset > resultsCount && nextOffset < resultsTotal) { %>
      |
    <% } %>
    <% if (nextOffset < resultsTotal) { %>
    <a href="/books?intitle=<%= qTitle.replace(' ','+') %>&inauthor=<%= qAuthor.replace(' ','+') %>&offset=<%= nextOffset %>">Next Results</a>
    <% } %>
  </div>
<div class="card-container">

<% results.forEach(book => { %>

  <div class="bookcard">
      <form action="/books" method="post" class="addbook-form">

      <div class="bookcard-img">
      <% if (book.volumeInfo.imageLinks) { %>
        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>">
        <input type="text" hidden name="thumbnail" value="<%= book.volumeInfo.imageLinks.thumbnail %>">
      <% } else { %>
        <img src="https://picsum.photos/200/300" alt="No cover image, using placeholder image">
      <% } %>
      </div>

      <div class="bookcard-info">
      <% if (book.volumeInfo.title) { %>
      <p class="title"><%= book.volumeInfo.title %> </p>
      <input type="text" hidden name="title" value="<%= book.volumeInfo.title %>">
      <% } %>

      <% if (book.volumeInfo.authors) { %>
      <p>by <%= book.volumeInfo.authors.join(', ') %> </p>
      <input type="text" hidden name="author" value="<%= book.volumeInfo.authors.join(', ') %>">
      <% } %>

      <% if (book.volumeInfo.publishedDate) { %>
        <p><span>Published: </span><%= book.volumeInfo.publishedDate %> </p>
        <input type="text" hidden name="published" value="<%= book.volumeInfo.publishedDate.toLocaleString() %>">
      <% } %>

      <% if (book.volumeInfo.description) { %>
        <% let desc = book.volumeInfo.description.split(' ').slice(0,15).join(' ') + '...'; %>
        <p><span>Description:</span> <%= desc %> </p>
        <input type="text" hidden name="description" value="<%= desc %>">
      <% } %>

      <input type="text" name="googleId" hidden value="<%= book.id %>">
      <input type="text" name="qTitle" hidden value="<%= qTitle %>">
      <input type="text" name="qAuthor" hidden value="<%= qAuthor %>">
      
      <div class="readinglistSelect">
        <select name="booklistSelect">
          <% booklists.forEach( booklist => { %>
            <option value="<%= booklist._id %>"><%= booklist.name %></option>
          <% }) %>
        </select>
        <input type="submit" value="Add Book">
      </div>
    </div>
      </form>
    </div>
<% }) %>



</div>
<div class="results-pagination">
  <% if (nextOffset > resultsCount) { %>
    <% const prevOffset = nextOffset - (resultsCount * 2) %>
  <a href="/books?intitle=<%= qTitle.replace(' ','+') %>&inauthor=<%= qAuthor.replace(' ','+') %>&offset=<%= prevOffset %>">Previous Results</a>
  <% } %>
  <% if (nextOffset > resultsCount && nextOffset < resultsTotal) { %>
    |
  <% } %>
  <% if (nextOffset < resultsTotal) { %>
  <a href="/books?intitle=<%= qTitle.replace(' ','+') %>&inauthor=<%= qAuthor.replace(' ','+') %>&offset=<%= nextOffset %>">Next Results</a>
  <% } %>
</div>
<% } %>

<%- include('../partials/footer') %>
