<%- include('../partials/header') %>

<h1><%= booklist.name %></h1>
<form action="/booklists/<%= booklist._id %>?_method=PUT" method="post">
  <label for="name">Booklist Name
    <input type="text" name="name" value="<%= booklist.name %>">
  </label>
  <p>
    <button type="submit">Update Booklist</button>
  </p>
</form>


<%- include('../partials/footer') %>
