<%- include('../partials/header') %>

<form action="/booklists" method="POST">
  <label for="name">New Booklist Name
    <input type="text" name="name" required=true>
    <button type="submit">New Booklist</button>
  </label>
</form>

<% booklists.forEach(booklist => { %>
  <h1><a href="/booklists/<%= booklist._id %>">
    <%= booklist.name %>
  </a></h1>

  <% if (booklist.books.length === 0) { %>
    <p>No books in your list, <a href="/books">add some</a></p>
  <% } else { %>

  <div class="card-container">
    <% booklist.books.forEach(book => { %>
      <div class="bookcard">

        <div class="bookcard-img">
          <% if (book.thumbnail) { %>
            <img src="<%= book.thumbnail %>">
            <input type="text" hidden name="thumbnail" value="<%= book.thumbnail %>">
          <% } else { %>
            <img src="https://picsum.photos/200/300" alt="No cover image, using placeholder image">
          <% } %>
        </div>

        <div class="bookcard-info">
          <% if (book.title) { %>
          <p><%= book.title %> </p>
          <% } %>

          <% if (book.author) { %>
          <p>by <%= book.author %> </p>
          <% } %>

          <% if (book.published) { %>
            <p><span>Published: </span><%= book.published.getFullYear() %> </p>
          <% } %>
          <% if (book.description) { %>
            <p><span>Description: </span><%= book.description %> </p>
          <% } %>
          <form action="/books/<%= book._id %>?_method=DELETE" method="post">
          <input type="text" name="booklistId" hidden value="<%= booklist._id %>">
          <input type="submit" value="Remove Book">
        
          </form>
        </div>
      </div>
    <% }) %>
    </div>
  <% } %>
<% }) %>




<%- include('../partials/footer') %>
