<%- include('../partials/header') %>

<h1>Followed Podcasts</h1>
<% if (podcasts.length > 0) { %>
  <div class="card-container">
  <% podcasts.forEach(podcast => { %>
    <div class="my-podcast-card">
      <a href="/podcasts/<%= podcast.podcastId %>">
        <% if (podcast.image) { %>
        <img src="<%= podcast.image %>" alt="<%= podcast.title %>"> 
        <% } else { %>
        <%= podcast.title %>
        <% } %>
      </a>
    </div>
  <% }) %>
  </div>
<% } else { %>
<p>You have no followed podcasts, <a href="/podcasts/search">search for some!</a></p>
<% } %>
<%- include('../partials/footer') %>
