<%- include('../partials/header') %>

<% if (podcasts) { %>
  <div class="card-container">
  <% podcasts.forEach(podcast => { %>
    <div class="podcast-card">
      <div class="podcast-title"><a href="/podcasts/<%= podcast.podcastId %>"><%= podcast.title %></a></div>
      <a href="/podcasts/<%= podcast.podcastId %>"><img src="<%= podcast.image %>" alt="<%= podcast.title %> "></a>    
    </div>
  <% }) %>


</div>
<% } %>
<%- include('../partials/footer') %>
