<%- include('../partials/header') %>


<div class='searchForm'>
  <form action="/podcasts/search" method="PUT">
    <h2><%= title %></h2>
    <input type="text" name="q" value="<%= query %>"><br><br>
    <input type="submit" value="Search">
  </form>
</div>

<% if(results) { %>

  <div id="searchResults">
  
  <% results.forEach(podcast => { %>
      <div class="bookcard">
        <% if (user.podcasts.includes(podcast.id)) { %>
          <form action="/podcasts/<%= podcast.id %>?_method=DELETE" method="post">
        <% } else { %>
            <form action="/podcasts" method="post">
        <% } %>

        <% if (podcast.image) { %>
        <a href="/podcasts/<%= podcast.id %>">
          <img src="<%= podcast.image %>" alt="<%= podcast.title_original %>">
        </a>
        <input type="text" name="image" hidden value="<%= podcast.image %>">
        <% } %>
  
        <% if (podcast.title_original) { %>
        <p>Title: <%= podcast.title_original %> </p>
        <input type="text" name="title" hidden value="<%= podcast.title_original %>">
        <% } %>
  
        <% if (podcast.publisher_original) { %>
        <p>Publisher: <%= podcast.publisher_original %> </p>
        <% } %>
  
        <% if (podcast.pub_date_ms) { %>
          <p>Published: <%= podcast.pub_date_ms.toLocaleString() %> </p>
        <% } %>
  
        <% if (podcast.description_original) { %>
          <% let desc = podcast.description_original.split('.').slice(0,1).join('.') + '...'; %>
          <p>Description: <%= desc %> </p>
        <% } %>

        <input type="text" name="podcastId" hidden value="<%= podcast.id %>">
 
        <input type="submit" value="<%= user.podcasts.some(pod => pod.podcastId === podcast.id) ? 'Unfollow Podcast' : 'Follow Podcast' %>">
        </form>
      </div>
  <% }) %>
  <%= nextOffset %>
  <%= resultsTotal %>
    <% if (nextOffset < resultsTotal) { %>
    <a href="/podcasts/search/?q=<%= query %>&offset=<%= nextOffset %>">Next Results</a>
    <% } %>
    <% if (nextOffset > resultsCount) { %>
    <a href="/podcasts/search/?q=<%= query %>&offset=<%= nextOffset - results.length %>">Next Results</a>
      <% } %>
    </div>
  <% } %>

<%- include('../partials/footer') %>
