<%- include('../partials/header') %>

<h1>Search for Podcasts</h1>
  <form action="/podcasts/search" method="PUT">
      <div class='input-group'>
        <input type="text" name="q" value="<%= query %>">
        <button type="submit"><i class="fas fa-search"></i> Search</button>
    </form>
  </div>
</div>

<% if(results) { %>

<div class="card-container">
  <% results.forEach(podcast => { %>
      <div class="card">
        <% if (user.podcasts.includes(podcast.id)) { %>
          <form action="/podcasts/<%= podcast.id %>?_method=DELETE" method="post">
        <% } else { %>
          <form action="/podcasts" method="post">
        <% } %>
        <div class="card-img">
          <% if (podcast.image) { %>
          <a href="/podcasts/<%= podcast.id %>">
            <img src="<%= podcast.image %>" alt="<%= podcast.title_original %>">
          </a>
          <input type="text" name="image" hidden value="<%= podcast.image %>">
          <% } %>
        </div>
        <div class="card-title">
          <% if (podcast.title_original) { %>
          <p class="title">
            <a href="/podcasts/<%= podcast.id %>"><%= podcast.title_original %></a>
          </p>
          <input type="text" name="title" hidden value="<%= podcast.title_original %>">
          <% } %>
          <% if (podcast.publisher_original) { %>
          <p><span>Publisher:</span> <%= podcast.publisher_original %> </p>
          <% } %>
        </div>
        <div class="card-desc">
          <% if (podcast.description_original) { %>
            <% let desc = podcast.description_original.split(' ').slice(0,30).join(' ') + '...'; %>
            <p class="desc"><span>Description:</span> <%= desc %> </p>
          <% } %>
        </div>
        <div class="card-button">
          <input type="text" name="podcastId" hidden value="<%= podcast.id %>">
          <input type="submit" value="<%= user.podcasts.some(pod => pod.podcastId === podcast.id) ? 'Unfollow Podcast' : 'Follow Podcast' %>">
        </div> 
        </form>
      </div>
      <% }) %>
    </div>
    <% if (nextOffset < resultsTotal) { %>
    <a href="/podcasts/search/?q=<%= query %>&offset=<%= nextOffset %>">Next Results</a>
    <% } %>
    <% if (nextOffset > resultsCount) { %>
    <a href="/podcasts/search/?q=<%= query %>&offset=<%= nextOffset - results.length %>">Next Results</a>
      <% } %>
   
  <% } %>

<%- include('../partials/footer') %>
