<%- include('../partials/header') %>

<% if (podcast) { %>

  <h1><%= podcast.title %>
    <% if (user.podcasts.some(pod => pod.podcastId === podcast.id)) { %>
      <form action="/podcasts/<%= podcast.id %>?_method=DELETE" method="post">
    <% } else { %>
      <form action="/podcasts" method="post">
      <% } %>
        <input type="text" name="image" hidden value="<%= podcast.image %>">
        <input type="text" name="title" hidden value="<%= podcast.title %>">          
        <input type="text" name="podcastId" hidden value=<%= podcast.id %>>
        <input type="submit" value="<%= user.podcasts.some(pod => pod.podcastId === podcast.id) ? 'Unfollow Podcast' : 'Follow Podcast' %>">
      </form>
    </h1>
<div class="container">
  <div class="pod-show-info">
    <img src="<%= podcast.image %>" alt="<%= podcast.title %> ">

    <% if (podcast.description) { %>
      <% let poddesc = podcast.description.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '') %>
      <% poddesc = poddesc.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '') %>
      <p class="desc"><span>Description:</span> <%= poddesc %> </p>
    <% } %>
  </div>

  <% if (episodes) { %>
  <% episodes.forEach(episode => { %>
    <div class="pod-episode">
      <div class="pod-episode-info">
        <h2 class="pod-episode-title"><%= episode.title %></h2>
        <% const pubDate = new Date(episode.pub_date_ms) %>
        <h3 class="pod-date"><%= pubDate.toDateString() %></h3>
      
      <% // episode.description.replace( /(<([^>]+)>)/ig, '') %>

        <% let desc = episode.description.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '') %>
        <% desc = desc.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '') %>
        <div class="pod-desc">
          <%= desc %>
        </div>
      </div>
      <div class="pod-authorlist">
        <span>Potential Authors</span>

        <% const regex = /[A-Z][a-z]{2,}\s[A-Z][a-zA-Z'?]{2,}\s/g %>
        <% const potentialAuthors = desc.match(regex) %>
        <% if (potentialAuthors) { %>
            <ul>
            <% potentialAuthors.forEach(author => { %>
              <li>
                <a href="/books?intitle=&inauthor=<%= author.replace(' ','+') %>"><%= author %></a>
              </li>
            <% }) %>
          </ul>
          <% } else { %>
            <p>No authors detected!</p>
          <% } %>
      </div>
  </div>
  <% }) %>
  </div>

  <div class="results-pagination">
      <% if (nextDate) { %>
    <a href="/podcasts/<%= podcast.id %>?offset=<%= nextDate %>">Older Episodes</a>
    <% } %>
  </div>
  
  <% } %>

</div>
<% } %>



<%- include('../partials/footer') %>
