<%- include('../partials/header') %>

<% if (podcast) { %>

  <h1><%= podcast.title %> </h1>
  <p>
    <% if (user.podcasts.some(pod => pod.podcastId === podcast.id)) { %>
      <form action="/podcasts/<%= podcast.id %>?_method=DELETE" method="post">
    <% } else { %>
      <form action="/podcasts" method="post">
      <% } %>
        <input type="text" name="image" hidden value="<%= podcast.image %>">
        <input type="text" name="title" hidden value="<%= podcast.title %>">          
        <input type="text" name="podcastId" hidden value=<%= podcast.id %>>
        <input type="submit" value="<%= user.podcasts.some(pod => pod.podcastId === podcast.id) ? 'Unfollow Podcast' : 'Follow Podcast' %>">
      </form>
  </p>
  <img src="<%= podcast.image %>" alt="<%= podcast.title %> ">

  <% episodes.forEach(episode => { %>
  
    <h2><%= episode.title %></h2>
    <% const desc = episode.description.replace( /(<([^>]+)>)/ig, '') %>
    <p><%= desc %></p>
    <% const pubDate = new Date(episode.pub_date_ms) %>
    <p><%= pubDate.toDateString() %></p>

    <p>Potential Authors
      <!-- old reged /[A-Z][a-z]*\s[A-Z][a-z]*/g -->
      <% const regex = /[A-Z][a-z]{2,}\s[A-Z][a-zA-Z'?]{2,}\s/g %>
      <% const potentialAuthors = desc.match(regex) %>
      <% if (potentialAuthors) { %>
        <ul>
        <% potentialAuthors.forEach(author => { %>
          <li>
            <a href="/books?intitle=&inauthor=<%= author.replace(' ','+') %>"><%= author %></a>
          </li>
        <% }) %>
      <% } %>
      </ul>
    </p>
    
  <% }) %>

<% } %>



<%- include('../partials/footer') %>
